:root {
  --color-primary: #7239ea;
  --color-primary-text: #f9f9f9;
  --color-accent: #d1c3ed;
  --color-default: #363636;

  --color-background: #ebebeb;
  --color-card: #ffffff;
  --color-grey: #efeef4;

  --color-border: #efefef;

  --color-text: #363636;
  --color-label: #7d7d7d;
  --color-disabled: #cccccc;

  --color-chart-shade-0: rgba(114, 57, 234, 0.2);
  --color-chart-shade-1: rgba(114, 57, 234, 0);
  --color-glassmorphism: rgba(255, 255, 255, 0.9);
}

[data-dark-mode='true'] {
  --color-border: #2c2c2c;
  --color-background: #242424;
  --color-card: #1b1b1b;

  --color-text: #f9f9f9;
  --color-label: #aaaaaa;
  --color-disabled: #888888;

  --color-grey: #363636;

  --color-chart-shade-0: rgba(255, 255, 255, 0.2);
  --color-chart-shade-1: rgba(255, 255, 255, 0);
  --color-glassmorphism: rgba(0, 0, 0, 0.6);
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2 {
  font-size: 1rem;
  margin: 0 0 8px;
  text-align: left;
}

h4 {
  margin-bottom: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-label);
}
