.card {
  position: relative;
  padding: 1rem;
  background: var(--color-card);
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
